* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	background: #333333;
}

body #fullbg {
	background: #fff;
}

h1 a {
	display:block;
	height:75px;
	outline:0;
	background:url(../images/logo.png) no-repeat;
	text-transform: uppercase;
	color:#000;
	text-decoration: none;
	padding: 20px 0 0 90px;
	font-weight: normal;
	font-size: 25px;
}

h1 a:hover {
	color:#000;
	text-decoration: none;
}

body .container {
	width: 850px;
}

#nav {
	float:right;
	margin-top:-45px;
}

#nav a {
	color: #000;
	text-transform:uppercase;
	font-size:14px;
}

#nav a:hover {
	text-decoration:none;
	color:#979797;
}

#main {
	width:770px;
	margin:auto;
	padding-left:20px;
	position:relative;
}

.thumbnails {
	margin-left: 30px;
}

.thumbnails li.span3 {
	width:250px;
}

.thumbnails li.span3 a {
	-webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.50);
	-moz-box-shadow:    3px 3px 5px rgba(0, 0, 0, 0.50);
	box-shadow:         3px 3px 5px rgba(0, 0, 0, 0.50);
	border:0;
	border-radius:0;

	background:#979797;
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(151,151,151,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(151,151,151,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(151,151,151,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(151,151,151,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(151,151,151,1) 100%);
	background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(151,151,151,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#979797',GradientType=0 );

	text-decoration:none !important;
}

.hover-state {
	display:none;
	position:absolute;
	left:0;
	bottom:0;
	background:#981723;
	opacity:0.90;
	color:#FFF;
	text-align:center;
	width:100%;
	padding:36px 0;
	font-size:20px;
	font-style:italic;
}

.thumbnail {
	position:relative;
	z-index:1;
}

.thumbnail:hover .hover-state {
	display:block;
}

#portfolio {
	position: relative;
}

/* Portfolio item popups */
.popup {
	display:none;
	position:absolute;
	padding:10px;
	top: 15px;
	left: 55px;
	background:#FFF;
	width:780px;
	z-index:2;
}

.popup .image {
	text-align:center;
	background:#e2e2e2;
	padding:30px 0;
}

.popup p {
	display:block;
	padding:20px 50px;
	font-size:12px;
}

/* About page */
#about {
	padding-top: 20px;
	margin-bottom: 20px;
}

#about, #about * {
	color:#FFF;
	background: #333333;
}

#about h3 {
	text-decoration: underline;
	font-weight: normal;
	font-size: 20px;
	margin-bottom: 12px;
}

#about p {
	margin-bottom: 20px;
}

footer {
	padding: 20px 0;
	clear: both;
}

footer,
footer a,
footer a:hover {
	color: #fff;
	font-size: 11px;
}

footer .left {
	float: left;
}

footer .right {
	float: right;
}