* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	background: #000;
}

body #fullbg {
	padding: 30px 0 0;
	background: #fff;
}

header {
	background: #000;
	height: auto;
	padding: 7px 0;
}

header .wrap {
	background: #333232; /* Old browsers */
	background: -moz-linear-gradient(top,  #333232 0%, #222222 54%, #1b1a1b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333232), color-stop(54%,#222222), color-stop(100%,#1b1a1b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #333232 0%,#222222 54%,#1b1a1b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #333232 0%,#222222 54%,#1b1a1b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #333232 0%,#222222 54%,#1b1a1b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #333232 0%,#222222 54%,#1b1a1b 100%); /* W3C */
}

h1 a {
	display:block;
	padding: 6px 0 0 70px;
	width: 200px;
	height: 60px;
	outline:0;
	background:url(../images/logo.png) no-repeat;
	background-size: 60px 60px;
	text-transform: uppercase;
	color:#FFF;
	text-decoration: none;
	font-weight: normal;
	font-size: 30px;
	line-height: 25px;
	word-wrap: break;
}

h1 a:hover {
	color:#FFF;
	text-decoration: none;
}

body .container {
	width: 850px;
}

#main {
	width:770px;
	margin:auto;
	padding-left:20px;
	position:relative;
}

.thumbnails {
	margin-left: 30px;
}

.thumbnails li.span3 {
	width:250px;
}

.thumbnails li.span3 a {
	-webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.50);
	-moz-box-shadow:    3px 3px 5px rgba(0, 0, 0, 0.50);
	box-shadow:         3px 3px 5px rgba(0, 0, 0, 0.50);
	border:0;
	border-radius:4;

	background:#908FB3;
	
	text-decoration:none !important;
}

.hover-state {
	display:none;
	position:absolute;
	left:0;
	bottom:0;
	background:#000;
	opacity:0.90;
	color:#FFF;
	text-align:center;
	width:100%;
	padding:36px 0;
	font-size:16px;
}

.thumbnail {
	position:relative;
	z-index:1;
}

.thumbnail:hover .hover-state {
	display:block;
}

#portfolio {
	position: relative;
}

/* Portfolio item popups */
.popup {
	display:none;
	position:absolute;
	padding:10px;
	top: 15px;
	left: 55px;
	background:#FFF;
	width:780px;
	z-index:2;
}

.popup .image {
	text-align:center;
	background:#e2e2e2;
	padding:30px 0;
}

.popup p {
	display:block;
	padding:20px 50px;
	font-size:12px;
}

/* About page */
#about {
	padding-top: 20px;
	margin-bottom: 20px;
}

#about h3 {
	text-decoration: none;
	font-weight: normal;
	font-size: 26px;
	margin-bottom: 12px;
}

#about p {
	margin-bottom: 20px;
}

footer {
	padding: 20px 0;
	clear: both;
}

footer,
footer a,
footer a:hover {
	color: #fff;
	font-size: 11px;
}

footer .left {
	float: left;
}

footer .right {
	float: right;
}